/* src/components/Layout.css */

.layout {
  display: flex;
}

.main-content {
  padding: 20px;
  margin-left: 200px;
  flex-grow: 1;
  transition: all 0.2s ease-in-out;
}

.sidebar.collapsed + .main-content {
  margin-left: 60px;
}

